node_modules
/.next
/.windsurf/rules
*.pyc
/__pycache__
/.next
/Archives
/packages
/UNUSED_OUTSIDE_STRUCTURE
windsurf-desktop.json
/Windows-MCP copy
Python_MCP_Servers/MCP_Server/keys.json
Python_MCP_Servers/keys.json
